<header class="row">
    <nav class="col-md-3 d-md-block sidebar">
      <div class="position-sticky">
        <div class="list-group list-group-flush">
          <button>
            <a routerLink="/newsPanel" class="list-group-item list-group-item-action"
              >Gestión de Noticias</a
            >
          </button>
          <button>
            <a href="#" class="list-group-item list-group-item-action"
              >Gestión de Galería</a
            >
          </button>
          <button>
            <a routerLink="/userPanel" class="list-group-item list-group-item-action"
              >Gestión de Usuarios</a
            >
          </button>
          <button id="lastButton">
            <a href="#" class="list-group-item list-group-item-action"
              >Volver al Inicio</a
            >
          </button>
        </div>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4 align-self-center">
      <h1>
        ¡Bienvenido/a al panel <br />
        administrador!
      </h1>
      <section>
        <img src="../../../assets/img/logo.png" alt="Logo de la asociación" />
      </section>
    </main>
  </header>