/* Aquí se corrige el color de los enlaces de navegación */
.navbar-nav .nav-link {
    color: #136871;
}

/* Se elimina la clase bg-color y se aplica el color de fondo directamente en el estilo del nav */
/* Si deseas cambiar el color, modifica directamente el valor de background-color */
.navigation-bar {
    background-color: #FDDFDB;
}

.title1 {
    text-align: center;
    margin-top: 30px;
}

p {
    margin: 30px;
    line-height: 2;
}

@media (max-width: 768px) {
    #jumbotron-image {
        width: 380px;
        height: auto;
    }
}

.carousel-container {
    padding-top: 50px;
    max-width: 600px;
    /* Define el ancho máximo del contenedor */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
}

.carousel-item img {
    width: 70%;
    height: 400px;
    object-fit: cover;
}
.col-6,
.col-12 {
    margin-top: 20px;
}



label {
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Estilo para el pulgar de la barra de desplazamiento (la parte que se arrastra) */
::-webkit-scrollbar-thumb {
    background-color: #146A6F;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #FDDFDB;
}

.profileButtons button{
 background-color: #ffdfdd;
 width: 200px;
}

.userForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 10px;
}

.nameUser{
    display: flex;
    flex-direction: column; /* Para alinear verticalmente */
    align-items: center; /* Para centrar verticalmente */
    text-align: center; /* Para centrar horizontalmente */
    margin-bottom: 20px;
}
.containerProfile img {
    margin-right: 5px;
}

button {
    display: inline-block;
    width: 250px; /* Ancho fijo */
    height: 60px; /* Alto fijo */
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    line-height: 60px; /* Centra el texto verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
}

.container-form{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-gap: 50px;
    margin-top: 90px;
    margin-bottom: 50px;
  }

aside{
    text-align: center;
}

aside button{
    display: block;
    margin: 10px auto;  
}