<footer>
    <div class="container">
        <section class="row" id="pie">
            <article class="col-md-4">
                <img src="../../../assets/img/logo.png" alt="Logo de la empresa" width="250px">
            </article>
            <article class="col-md-4">
                <img width="40" height="40" src="https://img.icons8.com/ios/50/facebook-new.png" alt="facebook-new" />
                <img width="40" height="40" src="https://img.icons8.com/ios/50/twitter-circled--v1.png"
                    alt="twitter-circled--v1" />
                <img width="40" height="40" src="https://img.icons8.com/ios/50/instagram-new--v1.png"
                    alt="instagram-new--v1" />
                <hr>
                <img width="40" height="40" src="https://img.icons8.com/ios/50/mail.png" alt="mail" />
            </article>
            <article class="col-md-4">
                <div class="map-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3081.144088979907!2d-0.3785902243078037!3d39.4434751716126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f2a83ca5b01%3A0x76e180bf26a60242!2sHospital%20Universitari%20i%20Polit%C3%A8cnic%20La%20Fe!5e0!3m2!1ses!2ses!4v1707824356455!5m2!1ses!2ses"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </article>
        </section>
    </div>
</footer>