<div class="row justify-content-center align-items-center">
    <div class="col-md-4 col-sm-12 justify-content-center align-items-center d-flex pt-4">
        <div class="card">
            <img src="assets/imagesGallery/{{infoNew.image}}" class="card-img-top d-block w-100" alt="Slide 1">
            <div class="card-body">
                <h5 class="card-title">{{infoNew.title}}</h5>
                <p class="card-text">{{infoNew.description}}</p>
                <a href="#" class="btn btn-primary">Botón</a>
            </div>
        </div>
    </div>
</div>