<div class="row justify-content-center align-items-center">
    <div class="col-4 justify-content-center align-items-center d-flex pt-4">
        <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/800x400" class="card-img-top d-block w-100" alt="Slide 1">
            <div class="card-body">
                <h5 class="card-title">Título de la tarjeta</h5>
                <p class="card-text">Contenido de la tarjeta.</p>
                <a href="#" class="btn btn-primary">Botón</a>
            </div>
        </div>
    </div>
</div>