* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {

    /* Por si queremos que se quede flotando */
    top: 30;
    left: 0;
    height: 70vh;
    border-radius: 1rem;
    user-select: none;
    max-width: 18rem;
    margin: 1rem;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    background-color: #ffdfdd;
    box-shadow: 0px 0px 0px 1.4px #E9E6E4,
        0px 0px 2.8px 0px #E9E6E4;
    transition: max-width 0.2s ease-in-out;
}

.sidebar h2 {
    color: #546471;
    font-size: 1.45rem;
    margin-top: 1.45rem;
    margin-bottom: 1.45rem;
    line-height: 1.5rem;
}


/*? sidebar top */
.logo__wrapper {
    display: flex;
    align-items: center;
    color: #141B34;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.35rem;
}


.logo-big {
    height: auto;
    width: 12rem;
    border-radius: 0.4rem;
    padding: 0.25rem;
    overflow: hidden;
    object-fit: cover;
}


/*? menu links */

.sidebar-links-wrapper {
    /* overflow-y: auto; */
    overflow: hidden;
    padding: 1.35rem;
    position: relative;
}


.sidebar-links ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    row-gap: 1rem;
    flex-direction: column;
}

.sidebar-links li {
    color: #141B34;
    min-width: 3rem;
}

.sidebar-links li svg {
    stroke: #141B34;
    width: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
}

.sidebar-links li a:hover {
    background-color: #F5F5F5;
}

.sidebar-links li a {
    color: #141B34;
    width: 100%;
    padding: 0 0.6rem;
    font-size: 1.25rem;
    display: flex;
    gap: 0.75rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    min-height: 3.25rem;
    text-decoration: none;
    transition: background 0.2s ease-in-out;
}

.sidebar-links li .tag {
    margin-left: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    background-color: #F5F5F5;
    color: #141B34;
    border: 1px solid #E9E6E4;
}

.sidebar-links li a .link {
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
}

.sidebar-links .active:hover {
    background-color: #F5F5F5;
}

.sidebar-links .active {
    text-decoration: none;
    background-color: #F5F5F5;
    color: #141B34;
}

.sidebar-links .active svg {
    stroke: #141B34;
}

.divider {
    display: none;
}


/*? profile part */
.sidebar__profile {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.75rem;
    flex-direction: row;
    color: #141B34;
    overflow: hidden;
    min-height: 4rem;
    margin-top: auto;
}

.avatar__wrapper {
    position: relative;
    display: flex;
}

.avatar {
    display: block;
    min-height: 3rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.avatar__name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: nowrap;
}

.user-name {
    font-weight: 600;
    text-align: left;
    color: #141B34;
}

.email {
    color: #141B34;
    font-size: 0.8rem;
}

.sidebar__profile .menu {
    margin-left: auto;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.sidebar__profile .menu:hover {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #F5F5F5;
}

#linkPanel {
    margin-left: 1.2rem;
    color: #116B70;
}

.centered-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centered-text h1 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.icon-tabler-user-circle {
    margin-top: 10vh;
    width: 100px;
    height: 100px;
    color: #116B70;

}

#userData {
    margin-top: 12vh;
    margin-left: 10vh;

}

#userData h1:first-of-type {
    color: #116B70;
}

form>h4 {
    color: #116B70;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

input {
    border: 3px solid #ffdfdd;
    height: 30px;
    font-size: 21px;
}

#btnNewPass,
#btnRepeatPass {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 3px solid #ffdfdd;
    border-left: 0px;
    width: 50px;
    height: 30px;
    font-size: 21px;
}

#btnEnv {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 3px solid #ffdfdd;
    width: 200px;
    height: 30px;
    font-size: 17px;
}

#btnNewPass:hover,
#btnRepeatPass:hover,
#btnEnv:hover {
    background-color: #ffdfdd;
    color: black;
}



@keyframes fadeIn {
    from {
        width: 4rem;
        opacity: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}