<div class="row">
    <div class="col-sm-12 col-md-1">
        <!-- Preguntar porque no me acuerdo como dejar el hueco y esto me parece cutre -->
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="card" style="border: 0; padding-top: 40px;">
            <div class="card-body">
                <app-card-text-cancer></app-card-text-cancer>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
            <app-card-image-cancer></app-card-image-cancer>
    </div>
</div>