<div class="container-fluid">

    <app-carrousel></app-carrousel>

    <div class="row">
        <div class="col-sm-12 col-md-1">
            <!-- Preguntar porque no me acuerdo como dejar el hueco y esto me parece cutre -->
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="card" style="border: 0; padding-top: 40px;">
                <div class="card-body">
                    <h5 class="card-title">Cáncer de mama.</h5>
                    <p class="card-text">Es una enfermedad maligna que se origina en las células de la
                        glándula mamaria. Se caracteriza por un crecimiento anormal y descontrolado de estas células,
                        formando un tumor que puede propagarse a tejidos cercanos o a otras partes del cuerpo a través
                        del sistema linfático o sanguíneo. Es una de las formas más comunes de cáncer entre las mujeres,
                        aunque también puede afectar a los hombres en menor medida.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card" style="align-items: center; border: 0; padding-top: 40px; padding-bottom: 20px;">
                <img src="../../../assets/img/title1.png" class="card-img" alt="descripcion img1"
                    style="height: 200px; width: 300px;">

            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-sm-12 col-md-1">
            <!-- Preguntar porque no me acuerdo como dejar el hueco y esto me parece cutre -->
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="card" style="border: 0; padding-top: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Tratamiento.</h5>
                    <p class="card-text">El tratamiento del cáncer de mama depende de varios factores, incluyendo el
                        tipo de cáncer, su estadio, y la salud general de la paciente. Las opciones de tratamiento
                        suelen incluir cirugía para extirpar el tumor, radioterapia para destruir las células
                        cancerosas, quimioterapia para eliminar las células cancerosas en todo el cuerpo, terapia
                        hormonal para bloquear el crecimiento de las células cancerosas que son estimuladas por
                        hormonas, y terapia dirigida que ataca específicamente las células cancerosas. El tratamiento
                        puede ser combinación de estas opciones o individual, dependiendo del caso.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card" style="align-items: center; border: 0; padding-top: 30px ;padding-bottom: 20px;">
                <img src="../../../assets/img/title1.png" class="card-img" alt="descripcion img1"
                    style="height: 200px; width: 300px;">

            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-sm-12 col-md-1">
            <!-- Preguntar porque no me acuerdo como dejar el hueco y esto me parece cutre -->
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="card" style="border: 0; padding-top: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Impacto.</h5>
                    <p class="card-text">El cáncer de mama puede tener un impacto significativo en la vida de quienes lo
                        padecen y en sus seres queridos. Además del aspecto físico y médico, puede generar emociones
                        como miedo, ansiedad, tristeza y frustración. El tratamiento puede ser agotador física y
                        emocionalmente, y las preocupaciones sobre la reaparición del cáncer son frecuentes. La
                        enfermedad también puede afectar las relaciones personales, la vida laboral y la autoestima. Es
                        fundamental contar con un sólido sistema de apoyo emocional y médico para hacer frente a los
                        desafíos que presenta el cáncer de mama.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card" style="align-items: center; border: 0; padding-top: 30px ;padding-bottom: 20px;">
                <img src="../../../assets/img/title1.png" class="card-img" alt="descripcion img1"
                    style="height: 200px; width: 300px;">

            </div>
        </div>
    </div>


</div>