* {
    font-family: Helvetica;
}

/* Navbar */

.navbar-nav .nav-link{
    color: #136871; /* Mantenemos el color original */
}

.login-button {
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
  }
  
  .login-button:hover {
    background-color: rgb(178, 176, 176); /* Nuevo color de fondo al pasar el ratón sobre el botón */
    border-radius: 25px;
  }

/* Text */

.title1 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

p {
    margin: 30px;
    line-height: 2;
}

.subtitle{
    text-align: center;
    color: grey;
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

/* Jumbotron */

.jumbotron-container {
    background-color: #FDDFDB;
    padding: 30px;
    margin-bottom: 60px;
}

#jumbotron-image {
    max-width: 580px;
}

@media (max-width: 768px) {
    #jumbotron-image {
        width: 380px;
        height: auto;
    }
}

/* Carousel */

.carousel-container {
    padding-top: 50px;
    max-width: 600px;
    /* Define el ancho máximo del contenedor */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
}

.carousel-item img {
    width: 70%;
    height: 400px;
    object-fit: cover;
}

.col-6,
.col-12 {
    margin-top: 20px;
}

label {
    margin-bottom: 10px;
}

/* Scroll bar */

/* Se elimina la clase bg-color y se aplica el color de fondo directamente en el estilo del nav */
/* Si deseas cambiar el color, modifica directamente el valor de background-color */
.navigation-bar {
    background-color: #FDDFDB;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Estilo para el pulgar de la barra de desplazamiento (la parte que se arrastra) */
::-webkit-scrollbar-thumb {
    background-color: #146A6F;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #FDDFDB;
}

/* Footer */

footer {
    background-color: #FDDFDB;
    /* Color de fondo del footer */
    color: black;
    /* Color del texto del footer */
    padding: 20px;
    /* Espaciado interno del footer */
    text-align: center;
    /* Alineación del texto al centro */
    align-items: center;

}

#pie {
    align-items: center;
}

.footer-section {
    margin-bottom: 20px;
    /* Espacio entre secciones */
}

