<div id="carouselExampleIndicators" class="carousel slide m-4">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://asociacionestimat.com/____impro/1/onewebmedia/Galer%C3%ADa/Mercado%20autoras/20200104_180009.jpg?etag=%2244d982-5e39bbfe%22&sourceContentType=image%2Fjpeg&quality=85&ignoreAspectRatio&resize=1500,1125"
        class="d-block w-100" alt="imagen primera del carrousel">
    </div>
    <div class="carousel-item">
      <img
        src="https://asociacionestimat.com/____impro/1/onewebmedia/Galer%C3%ADa/Mercado%20autoras/20200104_172250.jpg?etag=%223fffe9-5e39bbfa%22&sourceContentType=image%2Fjpeg&quality=85&ignoreAspectRatio&resize=1500,1125"
        class="d-block w-100" alt="imagen segunda del carrousel">
    </div>
    <div class="carousel-item">
      <img
        src="https://asociacionestimat.com/____impro/1/onewebmedia/Galer%C3%ADa/Mercado%20autoras/20200104_172234___serialized3.jpg?etag=W%2F%22708c69-5e5fed60%22&sourceContentType=image%2Fjpeg&quality=85&ignoreAspectRatio&resize=1500,2000"
        class="d-block w-100" alt="imagen tercera del carrousel">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>