<div id="carouselExampleIndicators" class="carousel slide m-4">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://asociacionestimat.com/____impro/1/onewebmedia/Galer%C3%ADa/Entrevistas/6750da02-3a8b-4fb8-8d4f-89d7c6b2f74a.jpg?etag=%222a30c-5e39bbf4%22&sourceContentType=image%2Fjpeg&quality=85&ignoreAspectRatio&resize=1500,1125"
        class="d-block w-100" alt="imagen primera del carrousel">
    </div>
    <div class="carousel-item">
      <img
        src="https://asociacionestimat.com/____impro/1/onewebmedia/Galer%C3%ADa/Entrevistas/fcf2492f-ce70-4e13-a25d-5ee3c5fafe1c.jpg?etag=%2229a2b-5e39bbf5%22&sourceContentType=image%2Fjpeg&quality=85&ignoreAspectRatio&resize=1500,1125"
        class="d-block w-100" alt="imagen segunda del carrousel">
    </div>
    <div class="carousel-item">
      <img
        src="https://asociacionestimat.com/____impro/1/onewebmedia/Galer%C3%ADa/Mercado%20autoras/20200104_180009.jpg?etag=%2244d982-5e39bbfe%22&sourceContentType=image%2Fjpeg&quality=85&ignoreAspectRatio&resize=1500,1125"
        class="d-block w-100" alt="imagen tercera del carrousel">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>