<div class="container-fluid"
    style="background-image: url('/assets/img/rosasEstimat.jpg'); background-size: cover; background-position: center; height: 100vh;">
    <div class="jumbotron jumbotron-fluid bg-cover">
        <div class="row" style="padding-top: 150px;">
            <h1 class="title1">REGÍSTRATE</h1>

            @if (loading) {
                <app-user-form [userSelected]="userSelected"></app-user-form>
                } @else {
                <div class="justify-content-center d-flex align-items-center">
                    <mat-progress-spinner [color]="colorSpinner" [mode]="mode">
                    </mat-progress-spinner>
                </div>
                }
            
        </div>
    </div>
</div>

