.imageContainer {
    position: relative;
    display: inline-block;
}

.imageGallery {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s;
}

.imageContainer:hover .imageGallery {
    opacity: 0.7; /* Cambia la opacidad de la imagen al hacer hover */
}

.deleteButton {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1; /* Asegura que el botón esté sobre la imagen */
    background-color: rgb(221, 30, 30); /* Color del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quita el borde */
    padding: 5px 10px; /* Ajusta el espaciado interior del botón */
    border-radius: 5px; /* Ajusta el radio del borde del botón */
}

.imageContainer:hover .deleteButton {
    opacity: 1; /* Muestra el botón cuando se hace hover sobre el contenedor de la imagen */
}