<div class="row">
    <div class="col-md-8 offset-3">
        <div class="row">
            @for (imageCard of _estimatService.getImages(); track $index) {
            <div class="col-md-4 col-sm-6 justify-content-center align-items-center d-flex pt-4">
                <div class="imageContainer">
                    <img class="imageGallery" [src]="imageCard" alt="logo" style="max-width: 400px;">
                    <button class="btn btn-outline-danger deleteButton" (click)="deletePhoto($index)">Delete</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>