<div class="container-fluid">
    <div class="row d-flex mt-sm-3 mt-md-0" style="background-color: #FDDFDB;">
        <div class="flex-column d-flex ">
            <div class="jumbotron-fluid justify-content-center d-flex"
                style="background-color: #FDDFDB; padding: 130px;">
                <img id="jumbotron-image" src="https://asociacionestimat.com/____impro/1/onewebmedia/IMG_6346___serialized1.JPG?etag=W%2F%2248a8be-5e5ff5eb%22&sourceContentType=image%2Fjpeg&ignoreAspectRatio&resize=549%2B412&extract=0%2B0%2B549%2B301&quality=85" alt="imagen noticias"
                    style="max-width: 600px;">
            </div>
        </div>
    </div>
</div>