<div class="col-6 offset-md-3" style="background-color: white; padding: 30px; border-radius: 15px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">
    <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" required formControlName="name">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico"
                        required formControlName="email">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" class="form-control" id="contrasena" placeholder="Ingresa tu contraseña"
                        required formControlName="password">
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="contrasena_repetir">Repetir Contraseña:</label>
                    <input type="password" class="form-control" id="contrasena_repetir"
                        placeholder="Repite tu contraseña" required formControlName="repeatPassword">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group form-check d-flex justify-content-center ">
                    <input type="checkbox" class="form-check-input" id="aceptar_terminos" style="margin-right: 10px; border-color: gray;"
                    required formControlName="cancer">
                    <label class="form-check-label" for="aceptar_terminos">¿Estás en tratamiento
                        activo?</label>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary btn-block">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>