<app-header></app-header>
<main>

    <div class="container-fluid">

       <app-carrousel></app-carrousel>

        <div class="row">
            <div class="col-sm-12 col-md-1">
                <!-- Preguntar porque no me acuerdo como dejar el hueco y esto me parece cutre -->
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="card" style="border: 0; padding-top: 40px;">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At,
                            voluptatum magnam velit, aut, beatae error harum repudiandae molestias delectus eos non
                            voluptate autem necessitatibus repellendus fuga! Exercitationem aperiam pariatur ab!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card" style="align-items: center; border: 0; padding-top: 40px; padding-bottom: 20px;">
                    <img src="../../../assets/img/title1.png" class="card-img" alt="descripcion img1"
                        style="height: 200px; width: 300px;">

                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-sm-12 col-md-1">
                <!-- Preguntar porque no me acuerdo como dejar el hueco y esto me parece cutre -->
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="card" style="border: 0; padding-top: 30px;">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At,
                            voluptatum magnam velit, aut, beatae error harum repudiandae molestias delectus eos non
                            voluptate autem necessitatibus repellendus fuga! Exercitationem aperiam pariatur ab!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card" style="align-items: center; border: 0; padding-top: 30px ;padding-bottom: 20px;">
                    <img src="../../../assets/img/title1.png" class="card-img" alt="descripcion img1"
                        style="height: 200px; width: 300px;">

                </div>
            </div>
        </div>


    </div>
</main>
