<!doctype html>
<html lang="en">

<head>
    <title>estima't</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="assets/icons/favicon.ico">


    <!-- Bootstrap CSS v5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <header>
        <nav class="navbar navigation-bar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="logo" style="width: 200px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="cancer.html">Cáncer de mama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="noticias.html">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="galeria.html">Galería</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <!-- Se elimina el ID repetido -->
                            <a class="nav-link" href="iniciaSesion.html">Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <div class="container-fluid">
            <!-- Jumbotron -->
            <div class="row d-flex" style="background-color: #FDDFDB;">
                <div class="flex-column d-flex">
                    <div class="jumbotron-fluid justify-content-center d-flex"
                        style="background-color: #FDDFDB; padding: 30px; margin-bottom: 60px;">
                        <img id="jumbotron-image" src="img/imgPrincipal.png" alt="logo" style="max-width: 600px;">
                    </div>
                </div>
            </div>


            <!-- Sections -->
            <div class="row">
                <div class="col-sm-12 col-md-1">
                    <!-- Preguntar porque no me acuerdo como dejar el hueco y esto me parece cutre -->
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="card" style="border: 0; padding-top: 40px;">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At,
                                voluptatum magnam velit, aut, beatae error harum repudiandae molestias delectus eos non
                                voluptate autem necessitatibus repellendus fuga! Exercitationem aperiam pariatur ab!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card" style="align-items: center; border: 0; padding-top: 40px; padding-bottom: 20px;">
                        <img src="img/title1.png" class="card-img" alt="descripcion img1"
                            style="height: 200px; width: 300px;">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" col-sm-12 col-md-1">
                    <!-- Preguntar porque no me acuerdo como dejar el hueco y esto me parece cutre -->
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="card" style="border: 0; padding-top: 30px;">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At,
                                voluptatum magnam velit, aut, beatae error harum repudiandae molestias delectus eos non
                                voluptate autem necessitatibus repellendus fuga! Exercitationem aperiam pariatur ab!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card" style="align-items: center; border: 0; padding-top: 30px ;padding-bottom: 20px;">
                        <img src="img/title1.png" class="card-img" alt="descripcion img1"
                            style="height: 200px; width: 300px;">

                    </div>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <div class="container">
            <section class="row" id="pie">
                <article class="col-md-4">
                    <img src="img/logo.png" alt="Logo de la empresa" width="250px">
                </article>
                <article class="col-md-4">
                    <img width="40" height="40" src="https://img.icons8.com/ios/50/facebook-new.png"
                        alt="facebook-new" />
                    <img width="40" height="40" src="https://img.icons8.com/ios/50/twitter-circled--v1.png"
                        alt="twitter-circled--v1" />
                    <img width="40" height="40" src="https://img.icons8.com/ios/50/instagram-new--v1.png"
                        alt="instagram-new--v1" />
                    <hr>
                    <img width="40" height="40" src="https://img.icons8.com/ios/50/mail.png" alt="mail" />
                </article>
                <article class="col-md-4">
                    <div class="map-container">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3081.144088979907!2d-0.3785902243078037!3d39.4434751716126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f2a83ca5b01%3A0x76e180bf26a60242!2sHospital%20Universitari%20i%20Polit%C3%A8cnic%20La%20Fe!5e0!3m2!1ses!2ses!4v1707824356455!5m2!1ses!2ses"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </article>
            </section>
        </div>
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>