<main>

    <div class="container">
        <h1 class="title1" style="margin-bottom: 100px;">¿Quienes somos?</h1>

        <h5>ESTIMA´T ES UNA ASOCIACIÓN DE PERSONAS AFECTADAS DE CÁNCER DE MAMA DE LA COMUNIDAD
            VALENCIANA</h5>
        <p>Nace con el
            apoyo y
            respaldo de la Unidad de Mama del Hospital Universitario y Politécnico La Fe de Valencia, que ha sido la
            impulsora de la presente asociación. Está formada por pacientes que padecen o han padecido cáncer de mama, y
            que son los verdaderos protagonistas de esta asociación.
            Inscrita en el Registro de Asociaciones de la Comunidad Valenciana con fecha 17 de septiembre de 2019, con
            el número CV-01-060576-V y con NIF: G40613705
        </p>

        <h5>Estima´t es una Asociación sin ánimo de lucro</h5>
        <p>Cuya misión es contribuir a mejorar la
            calidad de vida de las
            personas afectadas de cáncer de mama de la Comunidad Valenciana, canalizando las necesidades y
            preocupaciones de las personas que padecen o han padecido esta enfermedad y sus secuelas, activando una
            atención integral personalizada -médica, sanitaria, psicológica y social- tratando de minimizar los efectos
            negativos que el cáncer tiene en la vida personal, familiar, laboral y social de la persona afectada y de su
            entorno.</p>

        <h5> La visión de Estima´t es ser una Asociación social, activa e innovadora</h5>
        <p> Que responde con
            proactividad ante
            los desafíos; ser una Asociación de referencia para las personas afectadas de cáncer de mama de la Comunidad
            Valenciana, de manera que encuentren en Estima´t un cauce para mejorar su calidad de vida. Nuestra manera de
            actuar se basa en la integridad, la eficacia, la transparencia, la calidad y el interés general. Destacando
            sobre todo por la <strong> dedicación, capacidad, altruismo y compromiso de sus miembros</strong>.
            Considerando la asociación
            como un eslabón más del control de calidad de las Unidades de Mama, no debiéndose considerar éste como una
            intromisión en su funcionamiento, sino como un refuerzo para mejorarlas. </p>

        <h5>Toda actividad de Estima´t se sustenta en los siguientes valores:</h5>
        <p>
            - <strong> Compromiso:</strong> en el cumplimiento de nuestra misión y visión, y con los beneficiarios.
            <br> - <strong> Pluralidad y respeto a la igualdad:</strong> trabajar con todo tipo de instituciones y
            socios, con independencia de factores culturales, religiosos, políticos o de cualquier otra índole.
            <br> - <strong> Solidaridad:</strong> puede darse en sus tres versiones: social, económica y ambiental.
            <br> - <strong>Transparencia:</strong> en todos los procesos, ante todos los actores implicados: socios,
            colaboradores, donantes, contrapartes, población beneficiaria y frente a la sociedad en general.
            <br> - <strong>Calidad y mejora continua:</strong> con el objetivo de satisfacer las necesidades y demandas
            de las personas afectadas de cáncer de mama.
            <br> - <strong> Excelencia:</strong> aseguramos la consecución de nuestros objetivos y buscamos el mayor
            impacto de nuestras
            actuaciones a través de la calidad, la mejora continua y la optimización de nuestras capacidades y recursos.
            <br> - <strong> Unidad:</strong> creemos que el trabajo en equipo y en colaboración con otras organizaciones
            e instituciones es necesario para potenciar sinergias y mejorar el rendimiento de nuestro trabajo.
            <br> - <strong> Independencia:</strong> Estima´t no depende de ningún grupo social, económico, religioso ni
            político.
        </p>

        <h5>Actividades realizadas:</h5>
        <p> - <strong>Gestiones fructíferas</strong> con el Área de Atención a la Ciudadanía, Coordinación Asociaciones
            y Voluntariado del Hospital Universitario y Politécnico La Fe (petición a Consellería de Sanidad de Convenio).
            <br> - Para la difusión de la asociación, desde la Unidad de Mama de La Fe, <strong> se han
                remitido cartas a las pacientes allí tratadas desde el año 2017 hasta hoy</strong>.
            <br> - Se han visitado los Centros de Atención Primaria dependientes del Hospital La Fe, repartiendo
            carteles
            informativos y tarjetas de la asociación.
            <br> - Se ha asistido a diversos cursos de la Plataforma del Voluntariado.
            <br> - Con motivo del día Internacional del Cáncer de mama hemos celebrado una reunión de carácter
            divulgativo en
            el Hospital La Fe.
            <br> - Gestiones iniciales para recaudar fondos (rifa de cesta navideña, elaboración de pulseras, broches,
            etc.).
        </p>
    </div>

</main>