<main>

    <div class="container">
        <h1 class="title1">Quienes somos</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, veritatis! Vitae deserunt eveniet
            praesentium quos voluptatibus veritatis nulla asperiores tempore. Necessitatibus nemo quidem tempora
            maiores odit ipsum corrupti quisquam cum!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, veritatis! Vitae deserunt eveniet
            praesentium quos voluptatibus veritatis nulla asperiores tempore. Necessitatibus nemo quidem tempora
            maiores odit ipsum corrupti quisquam cum!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, veritatis! Vitae deserunt eveniet
            praesentium quos voluptatibus veritatis nulla asperiores tempore. Necessitatibus nemo quidem tempora
            maiores odit ipsum corrupti quisquam cum!</p>

    </div>

</main>