<header>
    <nav class="navbar navigation-bar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
                <img src="/assets/img/logo.png" alt="logo" style="max-width: 200px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cancer" routerLinkActive="active">Cáncer de
                            mama</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/news" routerLinkActive="active">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre
                            Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <!-- Se elimina el ID repetido -->
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>