<header>
    <nav class="navbar navigation-bar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
                <img src="/assets/img/logo.png" alt="logo" style="max-width: 200px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cancer" routerLinkActive="active">Cáncer de
                            mama</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/news" routerLinkActive="active">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre
                            Nosotros</a>
                    </li>
                </ul>
            </div>

            @if (isLogged) {
            @if (userLogged.role) {
            <!-- Admin -->
            <a class="nav-link" routerLink="/adminHome" routerLinkActive="active"><img class="login-button" width="40"
                    height="40" src="https://img.icons8.com/pastel-glyph/40/user-male-circle.png"
                    alt="user-male-circle" /></a>
            } @else {
            <!-- User -->
            <a class="nav-link" routerLink="/profile" routerLinkActive="active"><img class="login-button" width="40"
                    height="40" src="https://img.icons8.com/pastel-glyph/40/user-male-circle.png"
                    alt="user-male-circle" /></a>
            }
            } @else {


            <a class="nav-link" routerLink="/login" routerLinkActive="active"><img class="login-button" width="40"
                height="40" src="https://img.icons8.com/pastel-glyph/40/user-male-circle.png"
                alt="user-male-circle" /></a>
            }
        </div>
    </nav>
</header>