<div class="row" style="background-color: #FDDFDB;">
    <div class="col-12">
        <app-jumbotron></app-jumbotron>
    </div>
</div>

@for (card of infoCards; track $index) {
<div class="row">
    <div class="col-sm-12 col-md-5 offset-1">
        <app-description-index-card [infoCard]="card"></app-description-index-card>
    </div>
    <div class="col-sm-12 col-md-6">
        <app-img-index-card [infoCard]="card"></app-img-index-card>
    </div>
</div>
}
<div id="banda"></div>
<div class="videoFrame">    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fYsVHhxKW7E?si=HUFijmmI891a7mdD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

