<div class="row">
  <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4 align-self-center">
    <h1>GESTIÓN DE USUARIOS</h1>
    <button class="btnInsertar">Insertar</button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dato 1</td>
          <td>Dato 2</td>
          <td>Dato 3</td>
          <td class="button-container">
            <button class="btnEditar">Editar</button>
            <button class="btnEliminar">Eliminar</button>
          </td>
        </tr>
        <tr>
          <td>Dato 1</td>
          <td>Dato 2</td>
          <td>Dato 3</td>
          <td class="button-container">
            <button class="btnEditar">Editar</button>
            <button class="btnEliminar">Eliminar</button>
          </td>
        </tr>
        <tr>
          <td>Dato 1</td>
          <td>Dato 2</td>
          <td>Dato 3</td>
          <td class="button-container">
            <button class="btnEditar">Editar</button>
            <button class="btnEliminar">Eliminar</button>
          </td>
        </tr>
        <tr>
          <td>Dato 1</td>
          <td>Dato 2</td>
          <td>Dato 3</td>
          <td class="button-container">
            <button class="btnEditar">Editar</button>
            <button class="btnEliminar">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>