<div class="row">
  <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4 align-self-center">
    <h1>GESTIÓN DE USUARIOS</h1>

    @if (loading) {
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        @for (user of users; track $index) {
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.name}}</td>
          <td>{{user.status}}</td>
          <td class="button-container">
            <button (click)="editUser(user.id)" class="btnEditar">Editar</button>
            <button (click)="deleteUser(user.id)" class="btnEliminar">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>

      <!-- <tfoot>
          <tr>
            <td colspan="4" class="centered-button">
              <button (click)="" class="btnInsertar">Insertar</button>
            </td>
          </tr>
        </tfoot> -->
    </table>
    } @else {
    <!-- spinner -->
    <div class="justify-content-center d-flex align-items-center">
      <mat-progress-spinner [color]="colorSpinner" [mode]="mode">
      </mat-progress-spinner>
    </div>
    }
  </main>
</div>