<div class="row">
  <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4 align-self-center">
    <h1>GESTIÓN DE USUARIOS</h1>

    @if (loading) {
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        @for (user of users; track $index) {
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.name}}</td>
          <td>{{user.status}}</td>
          <td class="button-container">
            <button routerLink="/manageUserInfo" [queryParams]="{id: user.id}" class="btnEditar">Editar</button>
            <button (click)="deleteUser(user.id)" class="btnEliminar">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div class="justify-content-center d-flex pt-5">
      <a routerLink="/manageUserInfo" class="btn btn-outline-dark">Insertar Nuevo Usuario</a>
    </div>
    } @else {
    <!-- spinner -->
    <div class="justify-content-center d-flex align-items-center">
      <mat-progress-spinner [color]="colorSpinner" [mode]="mode">
      </mat-progress-spinner>
    </div>
    }
  </main>
</div>